body {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* full viewport height */
} 

main {
	flex-grow: 1;
	border: 1px solid green;
}

inner-column {
	display: block;
	max-width: var(--standard-inner-column); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	border: 1px solid blue;
}

section.email-signup {
	display: flex;
	height: 20vh;
	min-height: 700px;
	align-items: center;
	gap: 10px;
}
