body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* full viewport height */
} 

main {
	flex-grow: 1;
}

inner-column {
	display: block;
	max-width: var(--standard-inner-column); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

section {
	padding: 4.5em 1em;
}

/*section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

section.email-signup {
	display: flex;
	height: 20vh;
	min-height: 700px;
	align-items: center;
}

section.welcome {
	display: flex;
	height: 20vh;
	min-height: 700px;
	align-items: center;
}

section.customer-signup {
	display: flex;
   justify-content: center;
   gap: 13px;
   flex-direction: column;
   height: 55vh;
}

section.product-previews {
	@media (width > 500px ) {
		height: 65vh;
	}
	@media (width > 1800px) {
		height: 20vh;
	}
}*/
