.attention-voice {
	font-size: clamp(2rem, 5vw, 65px);
	font-weight: 700;
	text-wrap: balance;
	line-height: 1.2em;
}

.loud-voice {
	font-size: clamp(1.7rem, 3vw, 60px);
	font-weight: 600;
	line-height: 1.2em;
}

.quiet-voice {
	color: var(--grey);
   max-width: 62ch;
	font-weight: 300;
	font-size: 1.5rem;
   line-height: 1.2em;
}

.soft-voice {
	color: var(--grey);
	font-size: 1.3rem;
   max-width: 62ch;
	font-weight: 200;
	line-height: 1.2em;
}

.id-voice {
	color: var(--blue);
	font-weight: 800;
	font-size: 2rem;
}