.attention-voice {
	font-size: clamp(1.5rem, 5vw, 3.3rem);
	font-weight: 700;
	text-wrap: balance;
	line-height: 1.2;
}

.loud-voice {
	font-size: clamp(1.3rem, 5vw, 2.9rem);
	font-weight: 600;
	line-height: 1.2;
}

.quiet-voice {
	color: var(--grey);
   max-width: 62ch;
	font-weight: 300;
	font-size: clamp(1rem, 3vw, 1.5rem);
	text-wrap: balance;
   line-height: 1.2;
}

.soft-voice {
	color: var(--grey);
	font-size: clamp(0.8rem, 1rem, 1.3rem);
   max-width: 62ch;
   text-wrap: pretty;
	font-weight: 200;
	line-height: 1.2
}

.id-voice {
	color: var(--blue);
	font-weight: 800;
	font-size: 1.3rem;
}