html {
	--dark: black;
}

:root {
	--wheat: #d7d1bf;
	--white: #ffffff;
	--ink: #17426d;
	--ink-light: #717171;
	--line: rgb(0 0 0 / .2);
	--green: #b4d8bf;
	--blue: #acd8e5;
	--pink: #d3a0c5;
	--orange: #f4cd9e;
	--red: #f19899;
	--beige: #f7f0e3;
}

