@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';
@import 'modules.css';

/* SECTIONS */

nav {
	display: flex;
	flex-direction: column;
   gap: 25px;

   a {
	color: var(--ink-light);
	}

	a.active {
		border-bottom: 4px solid wheat;
	}
	
}


@media (min-width: 600px) {
	nav {
		flex-direction: row;
		align-items: center;
		margin-bottom: 5px;
	}
}

.media-links inner-column {
		display: flex;
		flex-direction: column;
		gap: 10px;
}

@media (min-width: 900px) {
	.media-links inner-column {
		display: flex;
      flex-direction: row;
      justify-content: space-between;
	}
}



.history inner-column {
	padding-bottom: 0;
}

.history-list {
	display: flex;
	flex-direction: column;
}

.card {
	border-radius: 8px;
}

.card-multi {
	article {
			border-top: 1px solid black;
			padding: 10px;
			picture {
				max-width: 30%;
				float: right;
			}
			overflow: hidden;
			.info {
				max-width: 70%;
				float: left;
				text-align: left;
				line-height: 1.28em;
		}
	}
	.calm-voice {
		font-size: 18px;
		font-style: italic;
		margin-bottom: 1em;
	}
	.loud-voice {
		margin-bottom: .5em;
	}
	.info + .info {
		margin: 10px;
	}
	.calm-voice + span {
		margin-top: .5em;
	}
}


