@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'components.css';
@import 'modules.css';

/* SECTIONS */
.site-header inner-column {
	display: flex;
   flex-direction: row;;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.site-header {
	position: sticky;
   top: 0;
   z-index: 1;
   background: #ffffff;
	picture {
		max-width: 100px;
	}
	ul {
		display: flex;
   	flex-direction: row;
    	gap: 10px;
	}
	color: var(--ink-light);
}

nav {
	display: flex;
	flex-direction: column;
   gap: 25px;
   a {
	color: var(--ink-light);
	}
}


@media (min-width: 600px) {
	nav {
		flex-direction: row;
		align-items: center;
		margin-bottom: 5px;
	}
}

.media-links inner-column {
		display: flex;
		flex-direction: column;
		gap: 10px;
}

@media (min-width: 900px) {
	.media-links inner-column {
		display: flex;
      flex-direction: row;
      justify-content: space-between;
	}
}



.history inner-column {
	padding-bottom: 0;
}

.history-list {
	display: flex;
	flex-direction: column;
}

.site-footer inner-column {
	display: flex;
   flex-direction: row;
   gap: 10px;
}

.site-footer {
	position: sticky;
   bottom: 0;
   z-index: 1;
   background: #ffffff;
	picture {
		max-width: 100px;
	}
	position: relative;
	z-index: 100;
}

.card {
	border-radius: 8px;
}

.card-multi {
	article {
			border-top: 1px solid black;
			padding: 10px;
			picture {
				max-width: 30%;
				float: right;
			}
			overflow: hidden;
			.info {
				max-width: 70%;
				float: left;
				text-align: left;
				line-height: 1.28em;
		}
	}
	.mid-voice {
		font-size: 18px;
		font-style: italic;
		margin-bottom: 1em;
	}
	.loud-voice {
		margin-bottom: .5em;
	}
	.info + .info {
		margin: 10px;
	}
	.mid-voice + span {
		margin-top: .5em;
	}
}


