.attention-voice {
	font-size: 50px;
}

.loud-voice {
	font-size: 48px;
	line-height: 1em;
}

.mid-voice {
	font-size: 1.5rem;
	line-height: 1.28em
}

.soft-voice, p {
	font-size: 1rem;
	line-height: 1.3em;
}

p {
	color: var(--ink-light);
}