.attention-voice {
	font-size: 30px;
}

.loud-voice {
	font-size: clamp(36px, 5vw, 60px);
	line-height: 1em;

	@media (width > 600px) {
		font-weight: 700;
	}
}

.calm-voice, p, li {
	font-size: 1rem;
	line-height: 1.4em
}

:is(.calm-voice, p) em {
	font-style: italic;
}

:is(.calm-voice. p) strong {
	font-weight: 700;
}

.soft-voice, p {
	font-size: 1rem;
	line-height: 1.3em;
}

.soft-voice {
	color: var(--ink-light);
}

.ink-voice {
	color: var(--ink);
}

p + h2 {
	margin-top: 1em;
}