clients {
	display: block;
	padding: 90px 0 40px;
}

heading-box {
	display: block;
	text-align: center;

	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}
}

heading-box + .client-list {
	margin-top: 1em;
}

.client-list {
	display: grid;

	@media(width > 600px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	
}

.client-card-item {
	width: 100%;
	height: 100%;
}

.client-article-card {
	display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 15px;
   padding: 40 0 40;

   p {
   	max-width: 35ch;
   	font-weight: 300;
   	color: var(--grey);
   }
}

.star-ratings {
	display: flex;
}