.button {
	background: rgba(255, 255, 255, .5);
	border: 0;
	border-radius: .5em;
	display: inline-block;
	padding: .6em 1.6em;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
	font-family: "Raleway";
	color: white;
	text-shadow: -2px 2px 5px rgba(0,0,0,.2);
}

.button:hover {
	background-color: green;
}

match-card {
	display: block;
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 0.8px solid white;
	border-radius: 8px;
	padding: 10px;
	text-shadow: -2px 2px 5px rgba(0,0,0,.2);
	line-height: 1.4em;

	.button {
		margin-top: auto;
	}

	.loud-voice {
		line-height: 1em;
		font-size: 20px;
		text-shadow: -2px 2px 5px rgba(0,0,0,.2);
	}
}

text-content {
	display: block;
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: sans-serif;
	line-height: 1.4em;
}