@import "reset.css";
@import "setup.css";

@import "typography.css";
@import "forms.css";
@import "menu.css";
@import "components.css";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
}

body {
	padding: 20px;
	min-height: 100vh;

	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.page-content {
	padding: 40px 0 100px;
}

.match + .match {
	margin-top: 30px;
}

.match-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;

	@media (width > 600px){
		grid-template-columns: 1fr 1fr;
	};

	@media (width > 900px){
		grid-template-columns: 1fr 1fr 1fr 1fr;
	};
}

.image {
	max-width: 400px;
	max-height: 400px;
}