features {
	display: block;
	padding-top: 20px;

	.loud-voice {
		font-size: 1em;
	}
}

.feature-list {
	display: grid;
	gap: 10px;

	.feature-card {
		display: grid;

		card-text {
			display: block;
			display: flex;
    		flex-direction: column;
    		gap: 6px;
    		line-height: 1em;
		}
	}

	&.default {
   	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	&.template-one-main-with-features-list {
		.feature-card {
			grid-template-columns: 5% 1fr;
			gap: 10px;

			.id-voice {
				margin-top: 1em;
			}

			picture {
				display: none;
			}
		}

		@media(width > 600px) {
		grid-template-columns: 1fr 40vw;
		grid-template-areas: "one two" "one three" "one four" "one five" "one six";
		gap: 20px 20px;
		
			li {
				&:nth-of-type(1) {
				grid-area: one;
				picture {
					width: 60%;
					display: block;
				}
				.id-voice {
				display: none;
			}
			.soft-voice {
				font-size: clamp(20px, 3vw, 40px);
            max-width: 20ch;
				line-height: 1em
			}
				.feature-card {
					grid-template-columns: 1fr;
				}
			}
			&:nth-of-type(2) {
				grid-area: two;
			}
			&:nth-of-type(3) {
				grid-area: three;
			}
			&:nth-of-type(4) {
				grid-area: four;
			}
			&:nth-of-type(5) {
				grid-area: five;
			}
			&:nth-of-type(6) {
				grid-area: six;
			}
		}
	}

	@media(width > 1000px) {
		grid-template-columns: 1fr 1fr;
		&:nth-of-type(1) {
				grid-area: 1fr;
		}
	}

}

	&.template-two-feature-list {

		@media (width > 500px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.feature-card {
			.id-voice {
				display: none;
		}

		picture {
			display: none;
		}

		}
	}
	&.template-three-feature-list {
		li {
			text-align: center;
		}
		.feature-card {
			justify-content: center;

			.id-voice {
				display: none;
			}
		}

		@media (width > 500px) {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 20px;
		}

		picture {
			display: none;
		}
	}
}

