features {
	display: block;

	@media (width < 500px) {
	}

	.loud-voice {
      font-weight: 550;
      margin-bottom: 0.7em;
      line-height: 1.2em;
      font-size: 1.3rem;
	}
}

.feature-list {
	display: grid;

	@media (width > 450px) {
		gap: 2em;
	}

	.feature-card {
		display: grid;

		.soft-voice {
			color: #616161;
			margin-top: -3px;
			letter-spacing: 0.09px;
		}

		card-text {
			display: block;
			display: flex;
    		flex-direction: column;
    		gap: 6px;
    		line-height: 0.9em;
		}
	}

	li {
			&:nth-of-type(1) {

			.id-voice {
				display: none;
			}
		}
	}

	&.default {
   	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	&.template-one-main-with-features-list {
		.feature-card {
			grid-template-columns: 5% 1fr;
			gap: 10px 20px;

			picture {
				display: none;
			}

			&:nth-of-type(1){
			@media(width < 700px) {
				grid-template-columns: 1fr;
				text-align: center;	
			}
		}
		}

		@media (width < 550px) {
			.feature-card {
				grid-template-columns: 1fr;
				text-align: center;
			}

			li + li {
				margin-top: 1.3em;
			}
		}

		li + li {
			margin-top: 1.9em;
		}

		@media(width > 700px) {
			grid-template-columns: 1fr 37vw;
			grid-template-areas: "one two" "one three" "one four" "one five" "one six";
			gap: 1em 5em;

			li + li {

			}
		
			li {
				&:nth-of-type(1) {
					grid-area: one;

				picture {
					display: block;
				}

				.id-voice {
					display: none;
				}
				
			.loud-voice {
            max-width: 20ch;
				line-height: 1.2em;
				font-weight: 550;
				letter-spacing: 0.8px;
				font-size: clamp(1.9rem, 5vw, 3.3rem);
				text-wrap: balance;
				margin-bottom: 0.2em;
			}
			.soft-voice {
				margin-bottom: 20px;
			}
				.feature-card {
					grid-template-columns: 1fr;
				}
			}
			&:nth-of-type(2) {
				grid-area: two;
			}
			&:nth-of-type(3) {
				grid-area: three;
			}
			&:nth-of-type(4) {
				grid-area: four;
			}
			&:nth-of-type(5) {
				grid-area: five;
			}
			&:nth-of-type(6) {
				grid-area: six;
			}
		}
	}

	@media(width > 1000px) {
		grid-template-columns: 1fr 1fr;
		&:nth-of-type(1) {
				grid-area: one;
		}
	}

}

	&.template-two-feature-list {

		margin-top: 3.5em;

		page-header {
			margin-bottom: 2em;
		}

		grid-template-columns: 1fr;
		gap: 1.8em;

		@media (width > 500px) {
			grid-template-columns: 1fr 1fr;
			gap: 2em 2em;

			.feature-card {
				align-content: center;
			}
		}

		@media (width > 750px) {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 3em 4em;
		}

		.feature-card {

			gap: 10px;

			picture {
				grid-column: span 1 / 3;
			}

			.id-voice {
				display: none;
			}

			card-text {
				grid-row: 2;
    			grid-column: span 2 / 4;
			}

			li {
				&:nth-of-type(1) {
					picture {
					display: none;
				}
			}
		}

			.soft-voice {
				font-size: 1rem;
			}
	}

	&.template-three-feature-list {
		li {
			text-align: center;
		}
		.feature-card {
			justify-content: center;

			.id-voice {
				display: none;
			}
		}

		@media (width > 600px) {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 20px;
		}

		picture {
			display: none;
		}
	}
}

