

.eames-card {
	display: grid;
   width: 100%;

   height: 100%;

   picture {
   	border-radius: 8px;
   }

   text-content {
   	display: block;
      padding-top: 10px;
   }

   .quiet-voice + .loud-voice {
   	margin-top: 0.07em;
   }

   .loud-voice + .mid-voice {
   	margin-top: 0.4em;
   }
}

.eames-card-list {
	display: grid;
	
	gap: 0px;

	@media (width > 700px) {
		grid-template-areas:
        "one one one one one one one one two two two two "
        "one one one one one one one one three three three three";
		gap: 20px 10px;
	}

	@media (width > 1000px) {
		gap: 30px 30px;
	}

}

.eames-card-item {
	grid-column: 1/-1;

	@media (width > 700px) {
   	&:nth-of-type(1) {
   		grid-area: one;
   	} 
   	&:nth-of-type(2) {
   		grid-area: two;
   	} 
   	&:nth-of-type(3) {
   		grid-area: three;
   	}
   }

}