@import "forms.css";
@import "typography.css";

/* buttons and icons and smaller reusable bits here */

.button {
	all:  unset; /* what would this do? */
	appearance: none;

	display: inline-block;

	font-family: Montserrat;
	font-size: 11px;
	line-height: 1.4;

	padding: 0.5em 1em;
	background-color: var(--darkblue);
	color: var(--white);
	min-width: 120px;
	text-align: center;
	border-radius: 3px;
}

.search {
	background-color: var(--white);
	border: 1px solid var(--lightgrey);
	color: var(--darkblue);
}

/* 
	article-card - might be something you put here?
*/