/*
	this could be broken up into things 
	like "color" and "spacing" as needed as it grows
*/


html {
	--black: #111111;
	--white: #efefef;
	--lightblue: #e8ecf3;
	--neutral-stuffs: gray;

	--color: #9ec9eb;
	--highlight: #aadee9;

	--green: #375b42;
	--blue: #6074bf;
	--darkblue: #242e4b;

	--lightgrey: #9f9d9d;

	--shadow: rgba(0, 0, 0, 0.8);

	--corners: 10px; /* or whatevers */

	--paper: var(--lightblue);
	--ink: var(--black);


	/* structure */
	--standard-inner-column: 1140px;
	--tight-inner-column: 800px;

	@media (prefers-color-scheme: dark) {
		--paper: #231a1a;
		--ink: #ffffe2;
		--color: red;
		--highlight: pink;
	}
}
