faqs {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;

	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}

	summary {
		cursor: pointer;	
		display: flex;
		justify-content: flex-start;
      gap: 20px;
	}

	summary::before {
		content: none;
	};

	summary::before {
		content: "+";
		color: var(--blue);
	}

	details[open] > summary::before {
		content: '-';
	}

	details[open] {
		.quiet-voice {
         border-left: 2px solid var(--blue);
         padding-left: 4px;
		}
	}

	.faq-card {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--grey);

		.quiet-voice {
			margin-left: 3em;
			margin-top: 1em;
			line-height: 1.28em;
		}
	}

}

text-header {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;

	.loud-voice {
		font-size: 50px;
	}
}