@import 'meyer-reset.css';
@import 'setup.css';

html {
	background-color: #f6c2cb;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-content {
	flex-grow: 1;
	background-color: #ec3568;
}


/* STRUCTURE */
.inner-column {
	display: block;
	width: 100%;
	max-width: 900px;
	margin-inline: auto;
	padding: 10px;
	border: 1px solid black;
}

.site-header {
	border: 3px solid red;
}

.site-nav {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.welcome {
	background-color: #f6c2cb;
	.inner-column {
		padding-top: 10px;
		padding-bottom: 3em;
	}
	margin-bottom: 2em;
}

.page-section {
	background-color: #ec3568;
}

.site-footer {
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* MODULES */

.card {
	background-color: #f6c2cb;
	padding: 10px;
	margin-bottom: 1em;
	display: grid;
}

.card-grid {
	display: grid;
}

.info {
	margin-top: 0.5em;
	line-height: 1.28em;
}

.loud-voice {
	font-size: clamp(1.5em, 3vw, 2em);
	margin-top: 0.5em;
	font-size: 34px;
	line-height: 1.1;
}

.mid-voice {
	font-size: clamp(1em, 2vw, 2em);
	line-height: 1em
}

.some-bonus-thing {
	display: none;
	@media (min-width: 600px){
		display: block;
		border: 1px solid black;
		padding: 10px;
		width: 75%;
		position: absolute;
		bottom: 5%;
		left: 2%;
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: left;
	}
	@media (min-width: 900px){
		display: none;
	}
}

button {
	text-align: center;
   text-transform: uppercase;
   text-shadow: 0.5px 1px #000;
   letter-spacing: 0.2em;
   color: white;
   background-color: #ec3568;
   border: 0;
   line-height: 1.7;
   padding: 4px 20px;
   font-size: 1.02em;
   border-radius: 60px;
}

/* RESPONSIVE */

@media (min-width: 400px) {
	.welcome .inner-column {
		display: grid;
	}
	.card-grid {
		display: grid;
	}
	.card {
		grid-template-columns: 1fr 1fr;
		gap: 10px;

		.info {
			margin-top: 0;
			margin-left: 0.5em;
			width: 50%;
		}
	}
}

@media (min-width: 600px) {

	.welcome .inner-column {

		position: relative;
		padding-top: 10px;
		padding-bottom: 130px;

		
		picture {
			min-width: 420px;
		}
		
	}

	graphic-diptych {
		display: grid;
		direction: rtl;
      grid-template-columns: 1fr 20% 150px 1vw;

      .site-button {
	      margin-right: 65px;
         margin-top: 10px;
      }

      picture {
      	margin-right: 10px;
      }

      .info {
      	position: absolute;
    		left: 10px;
    		top: 15%;
      }
	}

	.card-grid {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
	.card {
		grid-template-columns: 2fr;

		.info {
			margin-top: 0.5em;
		}
	}
}

@media (min-width: 900px) {
	
	.welcome .inner-column {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	graphic-diptych {
		display: grid;
		direction: ltr;
      grid-template-columns: 1fr 15% 132px 5vw;

       .info {
      	position: absolute;
      	left: 65%;
      	top: 25%;
     }
   }
	.page-section .inner-column {
		padding: 0;
	}

	.card-grid {
		gap: 0;
	}

	.card {
		background-color: unset;
		grid-template-columns: 200px 99% 5vw;
      overflow: hidden;

		.info {
			margin-top: 0;
			background-color: #f6c2cb;

			.mid-voice {
				padding: 10px;
			}
		}

	}

}
