.default-header {
	position: sticky;
   top: 0;
   z-index: 1;
   background-color: var(--white);
}

.template-two-header {
	position: sticky;
   top: 0;
   z-index: 1;
	background-color: var(--blue);
	color: var(--white);
}

mast-head {
	display: block;
	.logo {
		max-width: 68px;
		* {
			fill: var(--darkblue);
		}
	}

	nav {
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 5px;
		}
		.home {
			padding: 10px 0;
		}
		a:hover {
			color: var(--blue);
		}
		a:not(.home) {
			padding: .5em 1em;
		}
	}


	@media (width > 600px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		li {
			&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
				display: block;
			}
		}
	}

	@media (width < 600px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		li {
			&:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7) {
				display: none;
			}
		}
	}
}