.quote-btn {
    border: 1px solid var(--blue);
    display: inline-block;
    display: flex;
    gap: 0.8em;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.8rem, 3vw, 1rem);
    line-height: 1.4;
    padding: 0.6em;
    text-wrap: nowrap;
    background-color: var(--blue);
    color: var(--white);
    min-width: 160px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-inline: auto;

    picture {
/*        margin-left: auto;*/
    }
}
a:hover {
    color: inherit;
}

.outline-style {
    background-color: var(--white);
    color: var(--blue);
}