
graphic-diptych {
	display: block;
	display: grid;
	gap: 30px;
/*	grid-template-columns: repeat(5, 1fr); can do this too */
	grid-template-areas: "whatever";
	> * {
		grid-area: whatever;
	}
	align-items: end;
	p {
		margin-top: 20px;
	}

	picture {
/*		grid-column: 1 / -1;*/
	}

	img {
		border-radius: 8px;
	}

	text-content {
		padding: 25px;
   	text-wrap: balance;

   	/*grid-column: 1 / -1;
    	align-self: end;*/
    	
	}

	picture, text-content {
/*		grid-row: 1/2;*/
	}

/*	@media (min-width:  700px) {
		text-content {
			padding: 25px;
   		text-wrap: bala;
   		grid-column: 1 / -1;
    		align-self: end;
    		z-index: 1
	}

		picture, text-content {
		grid-row: 1/2;
	}
	}*/

	.arrow-link {
		width: 19px;
	}

	.link-box {
		display: flex;
		flex-direction: row;
		align-items: end;
      gap: 10px;
	}
}
