body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* full viewport height */
} 

body.template-1 {
	border: 5px solid green;
}

body.template-2 {
	border: 5px solid red;

	header {
		background-color: var(--blue);
		color: var(--white);
	}

	footer {
		background-color: var(--white);
		color: var(--grey);

		.strong-voice {
			color: black;
		}

		a {
			color: var(--grey);
		}
	}
}

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	display: block;
	max-width: var(--standard-inner-column); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}

section:is(.hero) {
	background-image: url("../images/hero_background.svg");
}

section:is(.faqs) inner-column {
	max-width: var(--tight-inner-column);
}