.attention-voice {
	font-size: clamp(46px, 7vw, 65px);
	font-weight: 800;
}

.loud-voice {
	font-size: clamp(36px, 5vw, 60px);
	font-weight: 600;
}

.quiet-voice {
	color: var(--grey);
	font-size: 16px;
	font-weight: 300;
}

.id-voice {
	color: var(--blue);
	font-weight: 800;
}