previews {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	text-align: center;

	padding: 1em 0 2em;

	.preview-list {
		display: grid;
		gap: 10px;

		padding-top: 1em;
      padding-bottom: 1em;
	}

	.preview-card {
		line-height: 1.2em;
		display: flex;
		flex-direction: column;	
	}

	@media (width > 600px) {
		.preview-list {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.loud-voice {
		font-size: 20px;
		font-weight: 600;
	}

	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}

}