mast-head {
	display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.site-header {
	position: sticky;
   top: 0;
   z-index: 1;
   background-color: #ffffff;
   border-bottom: 2px solid black;

	picture {
		max-width: 100px;
	}

	ul {
		display: flex;
   	flex-direction: row;
    	gap: 10px;
	}

	color: var(--ink-light);

	.attention-voice {
		color: var(--ink-light);
	}
}
}