testimonials {
	padding: 90px 0 40px;

	.review-card {
		display: flex;
   	flex-direction: column;
   	align-items: center;
   	text-align: center;
   	gap: 15px;
	}
	&.template-three-list {
		.review-card {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 10px;

		.star-rating {
			display: none;
		}

		.loud-voice {
			grid-column: 2 / 2;
    		grid-row: 1 / 2;
		}

		.quiet-voice {
			grid-row: 8 / 1;
    		grid-column: 2 / 2;
		}

		picture {
			grid-row: 1;
		}
		}
	}

	.review-list {
		display: grid;
			&.default {
				grid-template-columns: 1fr 1fr;

				.review-card {
					.loud-voice {
						font-size: 1em;
						line-height: 1.3em;
						font-weight: 300;
					}
				}
			}
		@media(width > 600px) {
			grid-template-columns: 1fr 1fr;
			gap: 10px;
		}

		&.template-two-list {
			grid-template-columns: 1fr;

			.star-rating {
				display: none;
			}

			.review-card {
				.loud-voice {
					color: var(--grey);
					font-weight: 400;
					max-width: 33ch;
				}
			}
		}
	}	
}

page-header {
	padding-top: 70px;
}

section:has(testimonials) {
	padding-bottom: 2em;
	inner-column {
		border: none;
	}
}
