testimonials {
	display: block;
	margin-top: 4em;
   margin-bottom: 4em;

   @media (width < 500px) {
   	margin-top: 1em;
   	margin-bottom: 0em;
   }

   page-header {
   	
   	margin-bottom: 1.3em;

   		@media (width < 500px) {
      		.attention-voice + .quiet-voice {
         		margin-top: 0.5em;
      	}
   	}
	}

   .review-card {
		display: flex;
   	flex-direction: column;
   	align-items: center;
   	text-align: center;
   	gap: 0.5em;

   	.star-rating {
   		margin-bottom: 0.5em;
   	}

   	.quiet-voice {
   		font-size: clamp(0.9rem, 3vw, 1rem);
   	}

   	&.template-three-testimonial-card {
			display: grid;

			.star-rating {
				display: none;
			}

			@media (width > 800px) {
				grid-template-columns: 1fr 1fr;
         	gap: 4em;
         	margin-top: 1.2em;

			.loud-voice {
				grid-column: 2 / 2;
    			grid-row: 1;
    			align-self: baseline;
    			text-align: start;
			}

			.quiet-voice {
				grid-row: 1;
            grid-column: 2;
            text-align: start;
            font-size: 20px;
         }

         picture {
				grid-column: 1;	
			}	

			}

			@media (width < 600px) {
				.quiet-voice {
					grid-row: 1 / 4;
				}
			}

			@media (width > 1200px) {
				.quiet-voice {
					grid-row: 1 /3;
					padding-top: 1em;
				}
			} 

			@media (width > 1400px) {
				.quiet-voice {
					grid-row: 2;
				}

				.loud-voice {
					align-self: auto;
				}
			}      
		}
	}

	.review-list {

		display: grid;
		grid-template-columns: 1fr;
		margin-top: 20px;
		margin-bottom: 25px;
		gap: 8px;

			&.default {

				li + li {
					margin-top: 2em;
				}

				@media(width > 600px) {
					grid-template-columns: 1fr 1fr;

					li + li {
						margin-top: 0;
					}
				}

				.review-card {
					
					height: 100%;

					/*.loud-voice {
						font-size: 1.4rem;
						line-height: 1.4em;
						font-weight: 400;
						max-width: 32ch;
						color: var(--grey);
						margin-bottom: auto;
					}*/
					.soft-voice {
						margin-bottom: auto;
						max-width: 45ch;
					}
				}
			}

		@media(width > 600px) {
			grid-template-columns: 1fr 1fr;
			gap: 30px;

			&.template-three-testimonial-list {
				grid-template-columns: 1fr;
			}
		}

		@media(width > 800px) {
			/*padding-left: 145px;
         padding-right: 145px;*/
		}

		&.template-two-list {
			grid-template-columns: 1fr;

			li + li {
				margin-top: 1em;
			}

			.star-rating {
				display: none;
			}

			.review-card {
				.loud-voice {
					color: var(--grey);
					font-weight: 400;
					max-width: 33ch;
				}
			}
		}
	
}
}

		


