testimonials {
	display: block;

   @media (width < 500px) {
   
   }

   page-header {
   	
   	margin-bottom: 0.9em;

   		@media (width < 500px) {
      		.attention-voice + .quiet-voice {
         		margin-top: 0.5em;
      	}
   	}
	}

   .review-card {
		display: flex;
   	flex-direction: column;
   	align-items: center;
   	text-align: center;
   	gap: 0.5em;


   	.quiet-voice {
   		font-size: clamp(0.9rem, 3vw, 1rem);
   		max-width: none;
   		font-weight: 500;
   	}

   	.soft-voice {
   		grid-row: 2;
   		max-width: none;
   	}

   	&.template-three-testimonial-card {
			display: grid;

			.star-rating {
				display: none;
			}

			picture {

			}

			@media (width > 750px) {
				grid-template-columns: 1fr 1fr;
         	gap: 4em;
         	margin-top: 1.2em;

				.loud-voice {
					grid-column: 2 / 2;
    				grid-row: 1;
    				align-self: baseline;
    				text-align: start;
				}

				.soft-voice {
					grid-column: 2;
					grid-row: 1;
    				font-size: clamp(1.5rem, 3vw, 2rem);
            	font-weight: 500;
            	color: black;
				}

				.quiet-voice {
					grid-row: 1;
            	grid-column: 2;
            	align-self: center;
            	margin-top: clamp(12rem, 6vw, 21rem);;
         	}

         	picture {
					grid-column: 1;	
				}	

			}

			@media (width > 1200px) {
				.quiet-voice {
					grid-row: 1;
				}
			} 

			@media (width > 1400px) {
				.quiet-voice {
					grid-row: 1;
				}

				.loud-voice {
					align-self: auto;
				}
			}      
		}
	}

	.review-list {

		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;

			&.default {

				li + li {
					margin-top: 2em;
				}

				@media(width > 600px) {
					grid-template-columns: 1fr 1fr;

					margin-top: 1.2em;

					li + li {
						margin-top: 0;
					}
				}

				.review-card {
					
					height: 100%;

					/*.loud-voice {
						font-size: 1.4rem;
						line-height: 1.4em;
						font-weight: 400;
						max-width: 32ch;
						color: var(--grey);
						margin-bottom: auto;
					}*/
					.soft-voice {
						margin-bottom: auto;
						max-width: 45ch;
					}
				}
			}

		@media(width > 600px) {
			grid-template-columns: 1fr 1fr;
			gap: 30px;

			&.template-three-testimonial-list {
				grid-template-columns: 1fr;
			}
		}

		@media(width > 800px) {
			/*padding-left: 145px;
         padding-right: 145px;*/
		}

		&.template-two-list {
		
			grid-template-columns: 1fr;

			li + li {
				margin-top: 1em;
			}

			.star-rating {
				display: none;
			}

			.review-card {
				.loud-voice {
					color: var(--grey);
					font-weight: 400;
					max-width: 33ch;
				}

				.soft-voice {
					font-weight: 500;
					font-size: clamp(1.3rem, 4vw, 2rem);
					max-width: 40ch;
					text-wrap: balance;
				}

				.quiet-voice {
					font-size: 1rem;
				}

				picture {
					margin-top: 0.8em;
				}
			}

			li:nth-of-type(2){;
				display: none;
		}
	
}
}

		


