faqs {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;

	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}

	.question-tab {

	}
	summary {
		cursor: pointer;	
		display: flex;
		justify-content: space-between;
	}

	summary:is(.template-two-faqs) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: 1em;
	}

	summary::before {
		content: none;
	};

	summary::after {
		content: ">";
		color: var(--grey);
	}

	summary:is(.template-two-faqs)::after {
		content: "+";
		color: var(--grey);
	}

	details[open] > summary:is(.default)::after {
		content: '^';
	}

	details[open]:is(.template-two-faqs) > summary::after {
		content: '-';
	}

	details[open]:is(.template-two-faqs) {
		.quiet-voice {
         border-left: 2px solid var(--blue);
         padding-left: 4px;
		}
	}

	.faq-card {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--grey);

	.quiet-voice {
		margin-top: 1em;
		line-height: 1.28em
		}

		&.template-two-faqs[open] {
		.quiet-voice {
         border-left: 2px solid var(--blue);
         padding-left: 4px;
		}
	}
}

inner-column
&.template-three-faq-style {
	display: grid;
	grid-template-columns: 1fr 1fr;
}