faqs {
	display: block;
	margin-bottom: 4em;
	padding: 20px;

	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}

	.attention-voice {
		font-weight: 550;
      max-width: 25ch;
	}

	.quiet-voice {
		letter-spacing: 0.1px;
		line-height: 1.4em;
      max-width: 75ch;
		margin-bottom: 20px;
	}

	.question-tab {

	}
	summary {
		cursor: pointer;	
		display: flex;
		justify-content: space-between;
		line-height: 1.2em;
		font-size: 1.4rem;
		letter-spacing: 0.4px;
		font-weight: 550;
		gap: 10px;
	}

	summary:is(.template-two-faqs) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: 1em;
	}

	summary::before {
		content: none;
	};

	summary::after {
		content: url("img/right-arrow.svg");
		color: var(--grey);
	}

	summary:is(.template-two-faqs)::after {
		content: "+";
		color: var(--grey);
	}

	details[open] > summary:is(.default)::after {
		content: url("img/up-arrow.svg");
	}

	details[open]:is(.template-two-faqs) > summary::after {
		content: '-';
	}

	details[open]:is(.template-two-faqs) {
		.quiet-voice {
         border-left: 2px solid var(--blue);
         margin-left: 20px;
         padding-left: 5px;
		}
	}

	.faq-card {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--lightgrey);

	.soft-voice {
		margin-top: 1em;
		margin-bottom: 0px;
		line-height: 1.28em
		}

		&.template-two-faqs[open] {
		.soft-voice {
         border-left: 2px solid var(--blue);
         padding-left: 4px;
		}
	}
}

page-header {
	padding-top: 30px;
}

inner-column
&.template-three-faq-style {
	display: grid;
	grid-template-columns: 1fr;

	@media(width > 600px) {
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		align-items: center;
	}
	
}