html {
	box-sizing: border-box;
}
body {
	background-color: beige;
	font-family: sans-serif;
}

/* structure */
.inner-column {
	display: block;
	padding: 16px;
	max-width: 1400px;
	margin-inline: auto;
}


/* sections */
.site-header {
	background: black;
	nav {
		word-spacing: 1.5em;
	}
	.inner-column{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	a {
		color: white;
		text-decoration: none;
		letter-spacing: 0.02em;
	}
	a:hover {
		text-decoration: underline;
	}
	a:visited {
		color: white;
	};
	/*.logo {
		margin-left: 30px;
		padding: 10px;
	}*/
}

@media (max-width: 1000px) {
	.site-header {
		nav, .brand {
		display: none;
		}
	}
}

.welcome {
	.inner-column {
		padding: 7vh;
		border: none;
/*		background-image: url("../image/white-house.jpg");*/
	}
	.article{
		overflow: hidden;
	}
	.card{
		max-width: 500px;
	}
	.welcome-info {
		padding: 1em;
		text-align: left;
		font-size: 1em;
		max-width: 100%;
	}
	picture {
		max-width: 500px;
		max-height:500px;
	}
	.category {
		list-style-type: none;
	}
}

.products {
	p {
		margin-top: 0.3em;
	}
		text-align: center;
}

.card {
	border: 1px solid black;
	.category-name {
		display: block;
		padding: 1em;
	}
	.info {
		padding: 1em;
		font-size: 1em;
		h1{
			font-size: 1.2em;
		}
	}
	margin-bottom: 1em;
	
	&.multi {
		max-width: 850px;
		border: none;
		article {
			border-top: 1px solid black;
			.loud-voice {
				font-weight: 600;
    			font-size: clamp(20px, 10vw, 25px);
    			margin-bottom: 0.5em;
			}
			picture {
				max-width: 45%;
				float: right;
			}
			overflow: hidden;
			.info {
				max-width: 40%;
				float: left;
				text-align: left;
			}
		}
	}
}

.category-list {
	display: grid;
	gap: 20px;
}

@media (min-width: 700px) {
	.category-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.category-list {
		grid-template-columns: 1fr 1fr 1.013fr;
	}
}


.about {
	.info {
		text-align: center;
	}
	.inner-column{
		border: none;
	}
}

.reviews {
	display: flex;
	justify-content: center;
}

.contact {
	background-color: black;
	.inner-column {
		display: grid;
		gap: 10px;
	}
	h1{
		font-style: italic;
	}
	.calm-voice {
		color: white;
		padding: 10px;
		font-size: clamp(20px, 5vw, 22px);
		font-style: normal;
		margin-bottom: .5em;
	}
	.info {
		color: white;
	}
	@media (min-width: 1000px) {
		.inner-column {
			grid-template-columns: 1fr 1.5fr 1fr;
		}
	}
}

.footer {
	p{
		max-width: 60ch;
	}
	.inner-column {
		display: grid;
		gap: 10px;
	}
	@media (min-width: 1000px) {
		.inner-column {
			grid-template-columns: 1fr 1.5fr 0.9fr;
		}
	}
}

/* typography */
.loud-voice {
	font-family: Gallacia;
	font-style: italic;
	font-size: clamp(30px, 10vw, 100px);
}
.calm-voice {
	font-size: clamp(20px, 5vw, 40px);
	font-style: italic;
	margin-bottom: .5em;
}	

/* pictures */
picture {
	display: block;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
