resume-list {
	display: block;
	display: grid;
	gap: 10px;

	@media(width >= 600px){
		display: grid;
    	grid-template-columns: 1fr 1fr;
    	gap: 10px 50px;
    	align-items: baseline;
	}

	margin-top: 0.9em;

	.loud-voice {
		font-size: 25px;
	}
}