quotes {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;

	.attention-voice {
		text-align: center;
	}

	.attention-voice + .button-container {
		margin-top: 1em;
	}
}