quotes {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	text-align: center;
	margin-top: 4em;
   margin-bottom: 4em;

   @media (width < 500px) {
   	margin-top: 1em;
   	margin-bottom: 0em;
   }

	.attention-voice {
		text-align: center;
		font-weight: 550;
	}

	.attention-voice + .button-container {
		margin-top: 1em;
	}

	.button-container {
		display: flex;
		flex-direction: column;

		@media (width > 600px) {
			flex-direction: row;
			gap: 20px;
		}
	}
}