quotes {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	text-align: center;

	.attention-voice {
		text-align: center;
		font-weight: 550;
		max-width: 25ch;
		margin-bottom: 0.5em;
	}

	.attention-voice + .button-container {
		margin-top: 1em;
	}
}