@import 'modules/call-to-action/style.css';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh
}

main {
	flex-grow: 1;
}

section, header, footer, main {
	border: 1px solid green;
	padding: 10px;
}

ul, li {
	list-style: none;
}

.site-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.card-list.default {
	display: grid;
   gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.card-list.second-grid-list {
		display: grid;
   	gap: 10px;
   	grid-template-columns: 1fr 1fr;
}
