.blue-btn {
	display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: var(--blue);
   border-radius: 8px;
   padding: 0.65em;
   color: white;
   text-decoration: none;
   min-width: 150px;
   max-width: 200px;
   text-align: center;
   align-items: center;
   font-size: 1rem;
   gap: 3px;
}

.light-btn {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: var(--white);
   border: 1px solid var(--blue);
   border-radius: 8px;
   padding: 1px;
   color: var(--blue);
   text-decoration: none;
   max-width: 200px;
   text-align: center;
   align-items: center;
   font-size: 1rem;
   gap: 10px;
}