@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.attention-voice {
	color: var(--darkblue);
	font-weight: 400;
	font-size: 40px;
}

.brand-voice {
	color: var(--gray);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
}

.category-voice {
	color: var(--gray);
	font-size: 23px;
	font-weight: 500;
}

.quiet-voice {
	color: var(--quietgray);
	font-size: 12px;
}

.logo-voice {
	color: var(--darkblue);
	font-size: 12px;
}

.link-voice {
	color: var(--blue);
	text-decoration: underline;
	cursor: pointer;
}