clients {
	display: block;
	padding: 90px 0 40px;
}

heading-box {
	display: block;
	text-align: center;

	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}
}

heading-box + .client-list {
	margin-top: 1em;
}

.client-list {
	display: grid;

	@media(width > 600px) {
	}
	
}

.client-card-item {
	width: 100%;
	height: 100%;
}

.client-article-card {
	display: grid;
	align-items: center;

	@media (width > 600px) {
		grid-template-columns: 1fr 1fr;
   	gap: 10px 51px;
	}
	
   padding-top: 3em;

   text-content {
   }
}

.star-ratings {
	display: flex;
}