@import '../css/settings.css';
@import '../css/setup.css';
@import '../css/meyer-reset.css';
@import '../css/components.css';
@import '../css/typography.css';
@import '../css/structure.css';


:root {
	--wheat: #d7d1bf;
	--white: #ffffff;
	--ink: #17426d;
	--ink-light: #717171;
	--line: rgb(0 0 0 / .2);
	--green: #b4d8bf;
	--blue: #acd8e5;
	--pink: #d3a0c5;
	--orange: #f4cd9e;
	--red: #f19899;
	--beige: #f7f0e3;
}



.s-u-r-l-body  {
	inner-column {
		padding: 10px;
	}
	background-color: var(--beige);
}

.page-content {
	flex-grow: 1;
}

/* header section */

.layout-site-header {
	background: var(--green);

	.links {
		display: flex;
		flex-direction: row;
		padding: 10px;
	}

	.sign-in {
		padding: 10px;
		a {
			max-width: 80px;
		}
	}

	a {
		padding: 10px;
		color:  black;
	}
	a:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.site-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (min-width: 600px) {
	.site-nav {
   	display: flex;
   	flex-direction: row;
   	justify-content: space-between;
   	align-items: center;
}
}

/* first diptych section */
.welcome {
	background-color: var(--blue);
}

graphic-diptych {
	display: grid;
	gap: 30px;
	align-items: center;
	picture {
		padding: 10px;
	}
	img {
		border: 3px solid black;
	}
	.info {
		padding: 10px;
	}

	h1 + p {
		margin-top: 1em;
	}
}

@media (min-width: 700px){
	graphic-diptych {
		.info {
			order: -1;
		}
		picture {
			grid-column: 2;
		}
	}
}

/* call to action section */
.call-to-action {
	background-color: var(--pink);
	inner-column {
		padding-block: 50px;
	}
}

.call-to-action, .call-to-action-ii {
	action-diptych {
		display: block;

   	padding: 24px;
   	max-width: 700px;
   	height: auto;
   	margin-inline: auto;
	}
}

action-diptych {
	display: block;
   padding: 24px;

	.info {
		gap: 30px;
	}

	.loud-voice {
		font-weight: 700;
	}
	.quiet-voice {
		color: black;
	}
	.site-button {
		background-color: black;
		color: white;
		max-width: 213px;
		margin-top: 10px;
	}
	.site-button:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	h2 + p {
		margin-top: 0.8em;
	}
}

/* card list section */ 
.article-grid {
	background-color: var(--orange);
	padding-block: 90px;
}

.article-card {
	action-diptych {
		.info {
			gap: 25px;
		}
	}
	border: 3px solid black;
	padding: 10px;
	border-radius: 0;
}
.article-list {
	display: grid;
	gap: 15px;
	padding-top: 10px;
}

@media (min-width: 600px) {
	.article-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 900px) {
	.article-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


/* call to action ii section */
.call-to-action-ii {
	background-color: var(--red);
	inner-column {
		padding-block: 50px;
	}
}

/* footer section */

.s-u-r-site-footer {
	background-color: var(--beige);
	action-diptych {
		display: block;
		padding: 10px;
	}
}

site-map {
	display: block;
	padding: 10px;

	a {
	}

	.page-links {
	}
	.sign-in {
	}
	.legal-links {
	}
	.social-media-links {
	}
}

.site-map-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (min-width: 700px) {
	.site-map-nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: baseline;
		gap: 0;
	}
}