.outline {
	background-color: var(--white);
	color: var(--blue);
	border: 1px solid var(--blue);
   border-radius: var(--small-border-radius);
   display: inline-block;
   font-size: clamp(0.8rem, 3vw, 1.1rem);
   line-height: 1.4;
   padding: 0.6em;
   text-wrap: nowrap;
   min-width: 160px;
   text-align: center;
   letter-spacing: 0.03em;
}
.preview-btn {
   border: 1px solid white;
}