color-card-list {
  .heading-box {
    padding-top: 0;
  }

  .heading-card-grid {
    display: grid;
    gap: 20px;
  }
  
  picture {
    opacity: 0.3;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  img {
    object-fit: cover;
  }

  .heading-card {
    background-color: white;
    border: 1px solid var(--line);
    border-radius: 8px;
     .info {
      padding: 10px;
     }
     .loud-voice {
        font-size: 20px;
     }
  }
  
  @media (min-width: 400px) {
    .heading-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 600px) {
    .heading-card-grid {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .heading-card {
      grid-template-columns: 2fr;
    }
  }
  
  @media (min-width: 900px) {
    .heading-card {
      background-color: unset;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
        .info {
          margin-top: 0;
        }
        .loud-voice {
          padding: 10px;
        }
    }
  }
}