reviews-list {
	.card {
		padding: 10px;
		margin-bottom: 1em;
		display: grid;
		border: 1px solid black;
	}

	.card-grid {
		display: grid;
	}

	.info {
		margin-top: 0.5em;
		line-height: 1.28em;
	}

	.heading-box {
		h1{
			font-size: 50px;
			font-style: italic;
			padding-bottom: 0.2em;
		}
		p {
			font-family: Helvetica;
		}
		padding-top: 3.28em;
	  padding-bottom: 0.58em;
	}


	.review-text-heading {
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		padding: 20px;
		margin-bottom: 2em;
	}

	.review-container {
		display: flex;
		flex-direction: column;
		position: relative;

		card-diptych {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid grey;
			width: 100%;
			line-height: 1.2em;
			.info {
				text-align: center;
			}
			picture {
				height: 360px;
			}
			img {
				height: 100%;
			}
	}
		.info {
			display:flex;
			flex-direction: column;
			line-height: 24px;
		}
	} 

		card-diptych-sublist {
			display: flex;
			flex-direction: row-reverse;
			border-bottom: 1px solid grey;
			justify-content: space-between;
			align-items: center;

			.loud-voice {
				font-weight: 600;
			}
			.mid-voice {
				font-weight: 500;
			}
			picture {
				max-width: 30%;
			}
			img {
				object-fit: cover;
	    		aspect-ratio: 1 / 1;
			}
			.preview {
				max-width: 40ch;
			}
		}

	@media (min-width: 900px) {
		.review-container {
			display: flex;
			flex-direction: row;
			gap: 55px;
		}

		card-diptych {
			position: sticky;
	    	top: 20px;
	    	align-self: start;
			
			picture {
				height: 465px;
			}
			
			img {
				height: 100%;
			}
		}
	}
}