reviews-list {
	.card {
		padding: 10px;
		margin-bottom: 1em;
		display: grid;
		border: 1px solid black;
	}

	.card-grid {
		display: grid;
	}

	p {
		max-width: none;
	}

	.info {
		margin-top: 0.5em;
		line-height: 1.28em;
	}

	.attention-voice {
		font-size: 36px;
		font-weight: 600;
	}

	.loud-voice {
		font-weight: 600;
		font-size: 24px;
	}
	.mid-voice {
		font-weight: 200;
		font-size: 24px;
	}

	.preview, .author {
		line-height: 1.2em;
		margin-top: 0.5em;
		font-size: 14px;
	}

	.review-text-heading {
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 1em;
	}

	.review-container {
		display: flex;
		flex-direction: column;
		position: relative;

		.info {
			display:flex;
			flex-direction: column;
		}

		span {
			margin-top: 0.2em;
		}	

		card-diptych {
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			width: 100%;
			line-height: 1.2em;
			.info {
				text-align: center;
				line-height: 20px;
			}
			picture {
				height: auto;
			}
			img {
				height: 100%;
			}
		}		
	} 

		card-diptych-sublist {
			display: flex;
			flex-direction: row-reverse;
			border-bottom: 1px solid var(--line);
			justify-content: space-between;
			align-items: center;
			padding-top: 10px;
         padding-bottom: 10px;

			picture {
				max-width: 35%;
			}
			img {
				object-fit: cover;
	    		aspect-ratio: 1 / 1;
			}
			p {
				max-width: none;
			}
		}


	@media (min-width: 900px) {
		.review-container {
			display: flex;
			flex-direction: row;
			gap: 55px;
		}

		card-diptych {
			position: sticky;
	    	top: 20px;
	    	align-self: start;
			
			picture {
				height: 465px;
			}
			
			img {
				height: 100%;
			}
		}
	}
}