call-to-action {
	display: block;
	display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;

	.button-container {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@media(width > 600px) {
			flex-direction: row
		}
	}
}	

.template-two-cta {
	.outline-btn {
		display: none;
	}

}

section:has(.template-one-cta) {
	background-image: url('../../images/cta_background.svg');
}

section:has(.template-two-cta) {
	background-image: url('../../images/cta_background.svg');
}
