email-signup {
	display: block;

	display: grid;

	gap: 3em;

	padding-top: 2em;
	padding-bottom: 2em;

	page-header {
    .attention-voice + .quiet-voice {
     	margin-top: 0.5em;
    }
	}

	@media (width > 500px) {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.email-input-form {
		email-input {
			background: var(--blue);
		}

		input {
			background: var(--white)!important;
			border: 1px solid var(--blue)!important;
			border-radius: var(--corners);
		}

		button {
			background: var(--blue);
			color: var(--white);
		}
	}	

	.text-container {
		display: flex;
   	flex-direction: column;
    	gap: 35px;
    	align-items: center;
	}
}