.header-button {
    border: 1px solid var(--blue);
    border-radius: var(--corners);
    display: inline-block;
    font-size: clamp(0.8rem, 3vw, 0.9rem);
    line-height: 1.4;
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    min-width: 80px;
    text-align: center;
    letter-spacing: 0.03em;
}
a:hover {
    color: inherit;
}