videos {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.2em;

	.quiet-voice {
		max-width: 53ch;
	}

	.quiet-voice + .loud-voice {
		margin-top: 0.4em;
	}

	.loud-voice + .soft-voice {
		margin-top: 0.4em;
	}

	.soft-voice + picture {
		margin-top: 1em;
	}
	
	picture {
		width: 50%;
	}
}

@media (width < 500px) {
	videos {
		margin-bottom: 0em;
	}
}

section:has(videos) {
	padding: 3em 4.5em;

   @media (width < 600px), (height < 800px) {
   	padding: clamp(1rem, 5vw, 7rem);
}