videos {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.quiet-voice {
		max-width: 53ch;
	}

	.quiet-voice + .loud-voice {
		margin-top: 0.4em;
	}

	.loud-voice + .quiet-voice {
		margin-top: 1.5em;
	}

	.quiet-voice + picture {
		margin-top: 1em;
	}
	
	picture {
		width: 50%;
	}
}