.feature-card-list {
	display: grid;

	@media(width > 600px) {
		grid-template-columns: 1fr 40vw;
		grid-template-areas: "one two" "one three" "one four" "one five" "one six";
		gap: 20px 20px;
		
			.card-item {
				&:nth-of-type(1) {
				grid-area: one;
				.id-voice {
				display: none;
			}
			.soft-voice {
				font-size: 45px;
				max-width: 30ch;
				line-height: 1em
			}
				.article-card {
					grid-template-columns: 1fr;
				}
			}
			&:nth-of-type(2) {
				grid-area: two;
			}
			&:nth-of-type(3) {
				grid-area: three;
			}
			&:nth-of-type(4) {
				grid-area: four;
			}
			&:nth-of-type(5) {
				grid-area: five;
			}
			&:nth-of-type(6) {
				grid-area: six;
			}
		}
	}

	@media(width > 1000px) {
		grid-template-columns: 1fr 1fr;
	}
}


.article-card {
	display: grid;
   grid-template-columns: 10% 1fr;
   align-items: center;

   text-content {
   	display: block;
   	line-height: 1em
   }

   .soft-voice + .quiet-voice {
   	margin-top: 1.5em;
   }
}
