
.article-card {
	display: block;

	display: grid;
	grid-template-areas: "places";
   align-items: end;
   > * {
		grid-area: places;
	}
   width: 100%;
   height: 100%;

   img {
		border-radius: 8px;
	}

	text-content {
		display: block;
		padding: 10px;

		.strong-voice {
			font-weight: 400;
		}

		.calm-voice, p {
			font-size: 11px;
			line-height: 1.28em;
		}

		.strong-voice + .link-box {
			margin-top: 0.02em;
		}
	}
	
	a {
		margin-top: auto;
	}

	.link-box {
		display: flex;
   	flex-direction: row;
   	justify-content: space-between;
   	align-items: center;
	}

	.article-card-button {
		width: 30px;
	}
}