.heading-card-grid {
  display: grid;
  gap: 5px;
}

.heading-card {
	background-color: #f6c2cb;
  border: 3px solid black;
  border-radius: 10px;
   .info {
    padding: 10px;
   }
   .loud-voice {
      font-size: 20px;
   }
}

@media (min-width: 400px) {
    .heading-card {
    	display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 600px) {
	.heading-card-grid {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .heading-card {
        grid-template-columns: 2fr;
    }
}

@media (min-width: 900px) {
    .heading-card {
    	background-color: unset;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
        .info {
        		margin-top: 0;
        		background-color: #f6c2cb;
        }
        .loud-voice {
        		padding: 10px;
        }
    }
}