.heading-card-grid {
	display: grid;
  margin-top: 2em;
  margin-bottom: 2em;
}

.heading-card {
	background-color: #f6c2cb;
   padding: 10px;
   margin-bottom: 1em;
   .info {
   	margin-left: 0.5em;
   }
   .loud-voice {
      margin-left: 0.5px;
   }
}

@media (min-width: 400px) {
    .heading-card {
    	display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 600px) {
	.heading-card-grid {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .heading-card {
        grid-template-columns: 2fr;
        border-radius: 5%;
    }
}

@media (min-width: 900px) {
    .heading-card {
    	background-color: unset;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
        .info {
        		margin-top: 0;
        		background-color: #f6c2cb;
        }
        .loud-voice {
        		padding: 10px;
        }
    }
}