@import 'meyer-reset.css';
@import 'setup.css';

html {
	--dark: black;
}

/* typography */
.calm-voice, p {
	font-family: serif;
	font-size: 18px;
}

.strong-voice {
	font-family: sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
}

.stout-voice {
	font-family: sans-serif;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 700;
}

/* components (more primitive) */

.button-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 900px){
	.button-group {
		flex-direction: row;
		.button:nth-of-type(2) {
			border-left: none;
		}
	}
}

.button {
	display: inline-block;
	background-color: white;
	border: 1px solid var(--dark);
	padding: 0.9em 1.5em;
	color: var(--dark);
	text-decoration: none;
	text-align: center;
	font-family: sans-serif;
	font-size: 1rem;
	&:hover {
		background-color: var(--dark);
		color: white;
	}
	max-width: 200px;
	width: 100%;
}

/* components */
.vendor-card {
	--line: rgb(0 0 0 / .2);
	--category-hover: red;

	border: 1px solid var(--line);

	.category {
		padding: 0.6em;
		transition: 0.3s;
	}

	.info {
		padding: 1.5em;

		.title {

		}

		.description {
			margin-top: 1.2em;
		}

		.link {
			margin-top: 1.4em;
		}
	}
	
	&:hover {
		.category {
			background-color: var(--category-hover);
			color: white;
		}
		[data-category='drinks'] & {
			--category-hover: blue;
		}
		[data-category='dining'] & {
			--category-hover: green;
		}
	}

	@container (min-width: 350px) {		
		display: grid;
		grid-template-columns: 1fr auto;

		.category {
			grid-column: 2 / 3;
			grid-row: 1 / 4;
			border-left: 1px solid var(--line);
			
			writing-mode: vertical-lr;
			span {
				display: block;
				transform: rotate(180deg);
			}
		}

		picture {
			grid-column: 1 / 2;
		}
		
		.info {
			grid-column: 1 / 2;
		}
	}
}



/* page modules */
.vendor-list {
	display: grid;
		/*                  repeat(5, 1fr) */
		/*.                                       at least 250 -- but max out at share */
/* 	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
									/* ? */
									/* fit - creates a column when there's empty... */
	gap: 50px 24px;
   margin-bottom: 2em;
	
	li {
		container-type: inline-size;
		/* card has two layouts depending on space - utilizes @container query */
	}

	/* sometimes - this is just better! */
	@media (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}
	
	@media (min-width: 900px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


.wild {
	.vendor-card {
		background-color: pink;
	}
}
