mobile-menu {
	display: block;
	
	ul {
		display: block;
		display: grid;
		height: 100%;
		align-content: center;
		gap: 10px;
		grid-template-rows: 14% 8% 2% 15% 16%;
	}
}	

.mobile-header {
	padding: 0;
}

body:has(.mobile-header) {
	background: var(--blue);
	a {
		color: var(--white);
	}
}
