faqs {
	text-align: center;
	.loud-voice + .quiet-voice {
		margin-top: 1em;
	}

	summary {
		cursor: pointer;	
		display: flex;
		justify-content: space-between;
	}

	summary::after {
	content: ">";
	color: var(--grey);
}

	details[open] > summary::after {
	content: '^';
}

	.faq-card {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--grey);
		text-align: start;

	.quiet-voice {
		margin-top: 1em;
		line-height: 1.28em
	}
}
}

