landing-container {
	.welcome {
		position: relative;
	}

	.welcome inner-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border: none;
	}

	.info {
		text-wrap: pretty;
		max-width: 75ch;
		padding-top: 2.5em;
	}
}