text-container {
	.welcome {
		position: relative;
	}

	.welcome inner-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border: none;
	}

	.info {
		text-wrap: balance;
		max-width: 75ch;
		padding-block: 20px;
	}

	.loud-voice + .mid-voice {
		margin-top: 1.3em;
	}

	.mid-voice + .soft-voice {
		margin-top: 1.3em;
	}
}