center-content {
	display: block;
	border: 1px solid red;

	display: flex;
	flex-direction: column;
	align-items: center;


	video-box {
		display: block;
      border: 0.5px solid red;
      max-width: 90%;
      padding: 100px;

		img {
			object-fit: none;
		}
	}

	.quiet-voice + .loud-voice {
		margin-top: 0.5em;
	}

	.loud-voice + .quiet-voice {
		margin-top: 1.5em;
	}
}