page-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   text-align: center;

   &.none {
      display: none;
   }
}

.attention-voice {
   &.default {
      font-size: clamp(40px, 4vw, 65px);
   }
   &.loud-voice {
      font-size: clamp(36px, 3vw, 1em);
   }
}
