@import url(https://db.onlinewebfonts.com/c/0e34eb42ecbbec33eae4f81ae4096aa8?family=Panama+Italic);

* {
	box-sizing: border-box;
	background-color: #c6b0b0;
}

a {
	word-break: break-all;
}

header {
	width: 100%;
   position: fixed;
   top: 0;
}
nav {
	margin-inline: autp ;
}
nav, a  { 
	font-family: basetica-regular;
	color: black;
	text-decoration: none;
	font-size: 20px;
   line-height: 20px;
   padding: 10px 10px;
   @media (max-width: 1100px){
   	 line-height: 40px;
   }
}

ul {
	list-style-type: none;
}
	
li {
	display: inline-block;
	vertical-align: middle;
	@media (max-width: 1100px) {
			display: block;
			vertical-align: top;
		}
}

.inner-column nav {
	postion: fixed;
}

.inner-column {
	max-width: 1400px;
	width: 100%;
	margin-inline: auto;
}

.inner-column h1 {
	font-weight: 200;
	max-width: 16ch;
   margin-left: 0.4em;
   line-height: 0.8em;
}
.nav-items {
	display: block;
}

.nav-items a {
	padding: 8px;
   font-size: 20px;
   line-height: 20px;
}

.nav-brand-name {
	width: 20%;
	@media(max-width: 1100px){
		width: 100%;
	}
}

.nav-podcast {
	margin-left: 3em;
	@media(max-width: 1100px){
		margin-left: 0em;
	}
}
 
.home-title {
	font-family: "Panama Italic";
	font-size: 80px;
	margin-inline: auto;
	margin-top: 2em;
	@media (max-width: 1100px) {
			margin-top: 9em;
		}
}

.card-content {
  display: block; /* it's inline-block by default */
  width: 100%; /* fill it's parent element */
  height: auto; 
}
.card {
	margin-left: 1em;
   border: 1px solid black;;
   height: 500px;
}
.card-content + .footer {
	margin-top: 1em;
}
.inner-column span {
	font-family: basetica-regular;
	line-height: 24px;
	margin-top: 1em;
}