.button-login {
	border: 1px solid var(--white);
	display: inline-block;

	font-size: 13px;
	line-height: 1.4;

	border-radius: var(--border);
	padding: 0.4em 1em;
	background-color: var(--blue);
	color: var(--white);
	min-width: 70px;
	text-align: center;
}

.button:hover {
	background-color: var(--blue);
	color: var(--white);
}

.button-signup {
	border: 1px solid var(--blue);
	display: inline-block;

	font-size: 13px;
	line-height: 1.4;

	border-radius: var(--border);
	padding: 0.4em 1em;
	background-color: var(--white);
	color: var(--blue);
	min-width: 70px;
	text-align: center;
}

.button-signup:hover {
	background-color: var(--blue);
	color: var(--white);
}

.button.free-trial {
	background-color: var(--white);
	color: var(--blue);
}