
body {
	font-family: sans-serif;
}

ul {
	list-style-type: none;
}

header {
	border: 1px solid black;
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

article {
	border: 1px solid black;
	padding: 10px;
	display: block;
}

form {
	padding: 10px;
	display: grid;
	justify-self: start;
}

output{
	display: block;
	border: 1px solid green;
	padding: 10px;
}