@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Montserrat:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.loud-voice	{
	font-family: Montserrat;
	font-size: clamp(36px, 5vw, 60px);
	@media (min-width: 600px) {
		font-weight: 300; /* or variable font */
	}
}

.attention-voice	{
	font-family: Montserrat;
	font-size: 30px;
	/* we suggest you always specifically set things like line-height and test multiple lines of text */
}

.strong-voice	{
	font-family: Montserrat;
	font-weight: 700;
	font-size:  1rem;
}

.calm-voice, p {
	font-family: Montserrat;
	font-size: 1rem;
	line-height: 1.4;
	letter-spacing: 0.02em;
}
/* should handle all the default fonts sizes */
/* could be set on the body... but... consider what side-effects... */

/* consider what these do */
:is(.calm-voice, p) em {
	font-style: italic;
}

:is(.calm-voice, p) {
	strong {
		font-weight: 700;
	}
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
