hero {
	display: block;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.quiet-voice {
		max-width: 53ch;
		margin-bottom: 0.2em;
	}

	.quiet-voice + .loud-voice {
		margin-top: 0.4em;
	}

	.loud-voice + .soft-voice {
		margin-top: 0.4em;
	}

	.soft-voice + picture {
		margin-top: 1em;
	}

	page-header {
		.attention-voice + .quiet-voice {
			margin-top: 0.5em;
		}
	}

	page-header + picture {
		margin-top: 1em;
	}
}

@media (width < 500px) {
	hero {
		margin-bottom: 0em;
	}
}

section:has(hero) {
	padding: 3em 4.5em;

   @media (width < 600px), (height < 800px) {
   	padding: clamp(1rem, 5vw, 7rem);
}