
.auto-fill-cards {
	padding: 10px 20px;
}

.left-right {
	display: grid;

	@media (width > 600px) {
		grid-template-columns: 0.5fr 1fr;
	}
	
}


.picture-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));;
	gap: 10px;
}