hero {
	display: block;
	padding: 18px;
	padding-top: 120px;
	padding-bottom: 120px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	text-align: center;

	.button {
		max-width: 100px;
	}

	.button-container {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@media(width > 600px) {
			flex-direction: row
		}
	}

	hero-text-container {
		display: block;
		padding: 20px 0 0;

		.attention-voice {
		 	text-transform: uppercase;
		 	color: var(--white);
		 	line-height: 1.28em;
         letter-spacing: 1px;
		}

		.quiet-voice {
			color: var(--white);
			line-height: 1.2em;
		}

		.attention-voice + .quiet-voice {
			margin-top: 1.28em;
		}
	}
}