
footer {
	background-color: var(--white);
}

site-map {
	display: block;
	/*border: 4px solid green;*/

	display: grid;
	@media (width > 600px) {
		grid-template-columns: 0.6fr 0.6fr 0.4fr 0.7fr
	}

	@media (width < 600px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (width < 500px) {
		grid-template-columns: 1fr;
	}
	
	gap: 20px;
	padding: 80px 0 80px;
	border-bottom: 1px solid var(--white);

	.logo {
		max-width: 180px;
		margin-bottom: 20px;
		* {
			fill: var(--blue);
		}
	}

	h3 {
		margin-bottom: 20px;
	}

	.strong-voice {
		font-weight: 600;
	}

	.site-menu, .x-menu {
		display: flex;
		flex-direction: column;

		a, p {
				color: var(--grey);
				opacity: 0.7;
			}

		ul, li {
			font-weight: 100;
			color: var(--grey);
			line-height: 1.58em
		}
	}

	.x-menu {
		&:nth-of-type(4){

         @media(width > 600px) 
         {
         	padding: 32px;
        		padding-left: 21px;
         	margin-top: -2em;
         }

			p {
				font-weight: 100;
				line-height: 1.28em;
            margin-top: 0.4em;
			}

			input {
				border: 1px solid var(--grey);
				background: var(--white);
				border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 88%;
			}
		}
	}

	email-content {
		display: flex;
	}
}

site-disclaimer {
	display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 40px 0 40px;

	p {
		color: var(--grey);
		line-height: 1em;
		max-width: 75ch;
	}

	ul {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}

	p, ul {
		padding-top: 10px;
	}
}
